<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->

		<property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="connection.url">jdbc:sqlserver://1WDDIEUNT1-LT:1433;databaseName=FAMS1</property>
		<property name="connection.username">dieunt1</property>
		<property name="connection.password">12345678</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.SQLServerDialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">
			org.hibernate.cache.NoCacheProvider
		</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<!-- <property name="hbm2ddl.auto">create</property> -->
        
		<mapping class="com.fsoft.entities.Enroll" />
		<mapping class="com.fsoft.entities.Schedule" />
		<mapping class="com.fsoft.entities.User" />
		<mapping class="com.fsoft.entities.Courselearn" />
		<mapping class="com.fsoft.entities.CourselearnPK" /> 
		<mapping class="com.fsoft.entities.Clazz" />
		<mapping class="com.fsoft.entities.Course" />
		<mapping class="com.fsoft.entities.LearningPath" />
		<mapping class="com.fsoft.entities.Trainee" />
		<mapping class="com.fsoft.entities.Trainer" />
	</session-factory>
</hibernate-configuration>